{{ form_start(form) }}
<div class="container-fluid">
    {{ form_widget(form) }}
</div>
<div class="container-fluid">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
