$body-bg: #a4a5a3;
$body-color: #000000;

$theme-colors:(
  'primary': #000000,
  'secondary': #a50817,
  'cardvue': #a4a5a3
);

@import "~bootstrap/scss/bootstrap";

.container-fluid{
  display: flex;
  justify-content: center;
  margin: 5px;
}
label{
  text-align: left;
}
input{
  display: block;
}
.required{
  display: block;
}


