<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="/">Wild S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wild">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category/add">ajouter une catégorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/program">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/season">Season</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/episode">Episode</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Chercher">
            <button class="btn my-2 my-sm-0 bg-secondary" type="submit">Chercher</button>
        </form>
    </div>
</nav>
